<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - MekashronTest.Client</title>
	<style>
		:root {
			--bs-primary: #0d6efd;
			--bs-success: #198754;
			--bs-danger: #dc3545;
			--bs-light: #f8f9fa;
			--bs-dark: #212529;
			--bs-primary-rgb: 13,110,253;
			--bs-secondary-rgb: 108,117,125;
			--bs-success-rgb: 25,135,84;
			--bs-info-rgb: 13,202,240;
			--bs-warning-rgb: 255,193,7;
			--bs-danger-rgb: 220,53,69;
			--bs-light-rgb: 248,249,250;
			--bs-dark-rgb: 33,37,41;
			--bs-white-rgb: 255,255,255;
			--bs-black-rgb: 0,0,0;
			--bs-body-rgb: 33,37,41;
			--bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
			--bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
			--bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
			--bs-body-font-family: var(--bs-font-sans-serif);
			--bs-body-font-size: 1rem;
			--bs-body-font-weight: 400;
			--bs-body-line-height: 1.5;
			--bs-body-color: #212529;
			--bs-body-bg: #fff
		}

		body {
			margin: 0;
			font-family: var(--bs-body-font-family);
			font-size: var(--bs-body-font-size);
			font-weight: var(--bs-body-font-weight);
			line-height: var(--bs-body-line-height);
			color: var(--bs-body-color);
			text-align: var(--bs-body-text-align);
			background-color: var(--bs-body-bg);
			-webkit-text-size-adjust: 100%;
			-webkit-tap-highlight-color: transparent
		}

		.navbar {
			position: relative;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;
		}

		.container {
			width: 97%;
			padding-right: var(--bs-gutter-x,.75rem);
			padding-left: var(--bs-gutter-x,.75rem);
			margin-right: auto;
			margin-left: auto
		}

		.d-sm-inline-flex {
			display: inline-flex !important
		}

		.card {
			position: relative;
			display: flex;
			flex-direction: column;
			min-width: 0px;
			word-wrap: break-word;
			background-color: #fff;
			background-clip: border-box;
			border: 1px solid rgba(0,0,0,.125);
			border-radius: .25rem margin-left:auto !important;
			margin-right: auto !important;
		}

		.card-header {
			padding: .5rem 1rem;
			margin-bottom: 0;
			background-color: rgba(0,0,0,.03);
			border-bottom: 1px solid rgba(0,0,0,.125)
		}

		.text-center {
			text-align: center !important
		}

		:
		.my-2 {
			margin-top: .5rem !important;
			margin-bottom: .5rem !important
		}


		.form-control {
			display: block;
			width: 95%;
			padding: .375rem .75rem;
			font-size: 1rem;
			font-weight: 400;
			line-height: 1.5;
			color: #212529;
			background-color: #fff;
			background-clip: padding-box;
			border: 1px solid #ced4da;
			margin-right: auto;
			margin-left: auto;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			border-radius: .25rem;
			transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
		}

		.list-unstyled {
			padding-left: 0;
			list-style: none
		}
		.mx-auto{
			margin-left:auto;
			margin-right:auto
		}

	</style>
	<noscript class="loadLater">
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="~/MekashronTest.Client.styles.css" asp-append-version="true" />
	</noscript>

	<script type="application/javascript">
		// Load the contents of <noscript class="loadLater"></noscript> after the page has loaded
		document.addEventListener("DOMContentLoaded", function(event) {
			var loadLater = document.querySelector('.loadLater');
			var head = document.querySelector('head');
			if(loadLater && head){
				head.insertAdjacentHTML('beforeend', loadLater.innerHTML);
			}
		});
	</script>
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container">
				<a class="navbar-brand" asp-area="" asp-page="/Index">MekashronTest.Client</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-page="/Index">Login page</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>